header, footer{
  background-color: #18453b;
  color: white;
  text-align: center;
}

header {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.main {
  height: 100%;
}

html, body {
  height: 100%;
}
