<header>
  <h2>Spartan Thrift Club</h2>
  <div class="heading">
    <h1>Events</h1>
    <div class="buttons">
      <button class="main-button" routerLink="/home">Home</button>
      <button class="main-button" routerLink="/connect">Connect</button>
    </div>
  </div>
</header>

<div class="main">
  <h2 id="upcoming">Upcoming Events</h2>
  <div class="event-left">
    <img class="event-img-left" src="assets/Logo.png" alt="A green circle that says 'Spartan Thrift
    Club'." height="200" width="200">
    <div class="textbox">
      <h3>First Meeting!</h3>
      <h4><i>1/28/21</i></h4>
      <p>Our very first general meeting of Spartan Thrift Club! We will be meeting at 8pm on
      <a href="https://msu.zoom.us/j/91838864439" target="_blank"> Zoom</a>. We hope you can
        make it!</p>
    </div>
  </div>
  <h2 id="past">Past Events</h2>
  <div class="event-left">
    <img class="event-img-left" src="assets/annarbor.jpg" alt="A man hugging three boxes">
    <div class="textbox">
      <h3>Ann Arbor</h3>
      <h4><i>11/14/20</i></h4>
      <p>In Ann Arbor we went to two thrift shops. The first, <a href="https://ragstock.com/"
      target="_blank">Ragstock</a> was a more upscale store with a large variety of holiday
        sweaters. The second, <a href="http://www.a2ptothriftshop.org/" target="_blank">Ann Arbor
          PTO</a>, was more of a warehouse, but with a fantastic selection of home goods, clothes,
      and furniture. Best find: storage cubes (pictured here)</p>
    </div>
  </div>
  <div class="event-right">
    <img class="event-img-right-mobile" src="assets/saginaw.png" alt="Two men posing for a photo">
    <div class="textbox">
      <h3>Saginaw</h3>
      <h4><i>10/17/20</i></h4>
      <p>Our first outing as Spartan Thrift club! We went to
        <a href="https://undergroundrailroadinc.org/underground-railroad-resale.html" target="_blank">
          Underground Railroad Resale</a>, and a Salvation Army. The resale shop was a fantastic
      place, full of a wide assortment of clothes and other trinkets, with an amazing staff. Best
      find: 2 "pirate grandpa" statues and a bathrobe.</p>
    </div>
    <img class="event-img-right" src="assets/saginaw.png" alt="Two men posing for a photo">
  </div>
</div>

<footer>
  <p>Copyright 2021 Spartan Thrift Club</p>
</footer>
