<header>
  <h2>Spartan Thrift Club</h2>
  <div class="heading">
    <h1>Connect</h1>
    <div class="buttons">
      <button routerLink="/home">Home</button>
      <button routerLink="/events">Events</button>
    </div>
  </div>
</header>

<div class="main">
  <div class="socials">
    <a href="https://discord.gg/WwYqnm" target="_blank">
      <input type="image" src="/assets/discord.png" alt="Discord icon" width="40" height="40">
    </a>
    <a href="https://www.instagram.com/spartan.thrift.club/" target="_blank">
      <input type="image" src="/assets/instagram.jpg" alt="Instagram icon" width="40" height="40">
    </a>
    <a>
      <input type="image" src="/assets/twitter.png" alt="Twitter icon" width="40" height="40">
    </a>
    <a>
      <input type="image" src="/assets/facebook.jpg" alt="Facebook icon" width="40" height="40">
    </a>
  </div>

  <h2 id="signup">Email Sign-up</h2>
  <h3>Get our email blasts!</h3>

  <form>
    <label>
      First Name:
      <input type="text" name="first_name">
    </label>
    <label>
      Last Name:
      <input type="text" name="last_name">
    </label>
    <label>
      Email:
      <input type="text" name="email">
    </label>
    <input type="submit">
  </form>
</div>

<footer>
  <p>Copyright 2020 Spartan Thrift Club</p>
</footer>
