<header>
  <h2>Spartan Thrift Club</h2>
  <div class="heading">
    <h1>Connect</h1>
    <div class="buttons">
      <button class="main-button" routerLink="/home">Home</button>
      <button class="main-button" routerLink="/events">Events</button>
    </div>
  </div>
</header>

<div class="main">
  <div class="socials">
    <a href="https://discord.gg/8EnJfpg4FQ" target="_blank">
      <input type="image" src="/assets/discord.png" alt="Discord icon">
    </a>
    <a href="https://www.instagram.com/spartan.thrift.club/" target="_blank">
      <input type="image" src="/assets/instagram.png" alt="Instagram icon">
    </a>
    <a href="https://twitter.com/SpartanThrift" target="_blank">
      <input type="image" src="/assets/twitter.png" alt="Twitter icon">
    </a>
    <a href="https://www.facebook.com/Spartan.Thrift.Club" target="_blank">
      <input type="image" src="/assets/facebook.png" alt="Facebook icon">
    </a>
  </div>

  <form [formGroup]="emailGroup">
    <h2 id="signup">Email Sign-up</h2>
    <label>
      First Name:<br>
      <input type="text" name="first_name" formControlName="firstName" required="required">
    </label>
    <p class="error"
       *ngIf="!emailGroup.get('firstName').valid && (emailGroup.get('firstName').dirty || emailGroup.get('firstName').touched)">
      This is a required field.
    </p>
    <label>
      Last Name:<br>
      <input type="text" name="last_name" formControlName="lastName" required="required">
    </label>
    <p class="error"
       *ngIf="!emailGroup.get('lastName').valid && (emailGroup.get('lastName').dirty || emailGroup.get('lastName').touched)">
      This is a required field.
    </p>
    <label>
      Email:<br>
      <input type="text" name="email" formControlName="email" required="required" email="true">
    </label>
    <p class="error"
       *ngIf="!emailGroup.get('email').valid && (emailGroup.get('email').dirty || emailGroup.get('email').touched)">
      Invalid email.
    </p>
    <button id="submit" type="submit" (click)="OnSubmit()"><b>Submit</b></button>
    <p *ngIf="submitSuccess" id="submit-success">✔ Successfully added!</p>
  </form>
</div>

<footer>
  <p>Copyright 2020 Spartan Thrift Club</p>
</footer>
