<header>
  <h1>Spartan Thrift Club</h1>
  <button class="main-button" routerLink="/events">Events</button>
  <button class="main-button" routerLink="/connect">Connect</button>
</header>

<div class="main">
  <div id="about-text">
    <h2 id="about">About Us</h2>
    <p>
      Spartan Thrift Club promotes sustainability, creativity, and financial responsibility through
      second-hand shopping.
    </p>
  </div>

  <h2 id="e-board">E-Board Members</h2>
  <div class="board-member">
    <img class="member-img" src="assets/Spencer.jpeg" alt="A headshot of Spencer Kuehn.">
    <div class="textbox">
      <h3>Spencer Kuehn - Co-Founder & President</h3>
      <p>Spencer Kuehn is a junior Biochemistry and Molecular Biology major at Michigan State
        University. Spencer loves his two cats, Charlie and Clyde, and running this wonderful club
        with his friends, and, of course, thrifting. His love of thrifting started 4 years ago,
        and since then he has amassed a collection of over 10 sweaters, which is continuously
        growing. Along with his impressive sweater collection he has also gotten various decorations
        and other great deals.</p>
    </div>
  </div>

  <div class="board-member">
    <img class="member-img" src="assets/Kilian.png" alt="A cute kitten.">
    <div class="textbox">
      <h3>Kilian Guensche - Co-Founder & Vice President</h3>
      <p>Kilian is a junior at Michigan State, studying Social Relations & Policy at the James
        Madison college while pursuing minors in Sociology and German. When Kilian is not engrossed
        in the works of Émile Durkheim and Karl Marx, he is often sighted in the Men's Long Sleeve
        aisle of Lansing and Grand Rapids-area thrift stores. Kilian's hobbies include holding the
        elevator door for strangers, saving the bees, and snacking on cashews.</p>
    </div>
  </div>

  <div class="board-member">
    <img class="member-img" src="assets/Katie.png" alt="A cute kitten.">
    <div class="textbox">
      <h3>Katie Franz - Marketing Director</h3>
      <p>Katie is a junior with majors in International Relations and Public Relations and minors in
        Political Economy and Spanish. Katie got into thrifting when she started making costumes for
        high school theatre productions. She enjoys upcycling clothes, sewing and embroidery. At
        Michigan State she also competes in Model United Nations and works for University Activities
        Board.</p>
    </div>
  </div>

  <div class="board-member">
    <img class="member-img" src="assets/Amy.png" alt="A cute kitten.">
    <div class="textbox">
      <h3>Amy MacLaren - Chairperson</h3>
      <p>Amy is a junior at Michigan State, pursuing a degree in forestry with minors in sustainable
        natural resource and recreation management, urban and community forestry, and environmental
        and sustainability studies. She has a love for the environment and protecting it for future
        use. She has woven this passion into various aspects of her life. One that stands out is
        buying items secondhand. She tries to fill her space and her closet with things either
        thrifted or gifted to reduce the impact on the environment. She also enjoys painting,
        reading, and driving to lake Michigan to spend time with friends in her spare time.</p>
    </div>
  </div>

  <div class="board-member">
    <img class="member-img" src="assets/Jax.png" alt="A cute kitten.">
    <div class="textbox">
      <h3>Jax Prusakiewicz - Secretary</h3>
      <p>Jax is a junior Mechanical Engineer, interested in the medical field of design. He plays a
        variety of video games and tabletop games. His favorite part about thrifting isn't the
        possible low prices, but the random treasures that can be found.</p>
    </div>
  </div>

  <div class="board-member">
    <img class="member-img" src="assets/Sam.png" alt="A cute kitten.">
    <div class="textbox">
      <h3>Sam Lefurgey - Treasurer</h3>
      <p>Sam is a third year student studying Computer Engineering. He is passionate about
        thrifting because of the numerous positive economic and environmental effects it has on
        society. He is dedicated to making sure this club runs as efficiently as possible!</p>
    </div>
  </div>

  <div class="board-member">
    <img class="member-img" src="assets/Alec.png" alt="A cute kitten.">
    <div class="textbox">
      <h3>Alec Said - Director of Membership</h3>
      <p>Alec is a junior pursuing a dual major in Electrical and Computer Engineering. His favorite
        hobbies consist of spending time with friends, playing D&D, Improv, and using the Oxford
        comma. Some of his greatest fears include the Thrift Club President, writing bios/cover
        letters and not using the Oxford comma. When Alec was fourteen, he discovered that his
        estranged father was secretly a vigilante working against the Russian mafia, this discovery
        quickly proved devastating to the small gang of rag tag friends he managed to scrape
        together; Alec, too, may not have survived if not for the hella cool shoes he recently
        thrifted.</p>
    </div>
  </div>

  <div class="board-member">
    <img class="member-img" src="assets/Lukas.png" alt="A cute kitten.">
    <div class="textbox">
      <h3>Lukas Richters - Director of Technology</h3>
      <p>Lukas is a junior Computer Science Major at MSU. He appreciates that thrifting allows
      people to live sustainably and is very excited to be a part of Spartan Thrift Club. Lukas
        enjoys programming, music, and spending time with friends. He also made this website.</p>
    </div>
  </div>

</div>

<footer>
  <p>Copyright 2020 Spartan Thrift Club</p>
</footer>
